# junit.jar - JUnit 3.2+ Classpath
junit.jar=/java/junit/junit.jar

# jakarta-commons-collections.jar
collections.jar=../../jakarta-commons/collections/dist/commons-collections.jar

# jakarta-commons-logging.jar
logging.jar=../../jakarta-commons/logging/dist/commons-logging.jar

# jakarta-commons-httpclient.jar
httpclient.jar=../../jakarta-commons/httpclient/dist/commons-httpclient.jar

# you can change this property to point at a local copy of the java 2 platform api
jdk-doc-url=http://java.sun.com/products/jdk/1.3/docs/api

# for the XML tags the following is required
#
# dom4j.jar - go to http://dom4j.org to download
dom4j.jar=/java/dom4j/dom4j.jar

# BSF: the Bean Scripting Framework from
# http://oss.software.ibm.com/developerworks/projects/bsf
bsf.jar=/java/bsf/bsf.jar

# Rhino is the default language for BSF
# http://www.mozilla.org/rhino
rhino.jar=/java/rhino/js.jar

# for the beanshell expression language the following is required
#
# beanshell.jar - go to http://www.beanshell.org
beanshell.jar=/java/beanshell/beanshell.jar


# for pnuts scripts the following jar is required
# http://javacenter.sun.co.jp/pnuts/index.html
pnuts.jar=/java/pnuts/pnuts.jar

