# junit.jar 
#   http://www.junit.org/
junit.jar=lib/junit-3.7.jar

# jakarta-commons-logging.jar
#  http://jakarta.apache.org/commons/
logging.jar=lib/commons-logging.jar

# Jakarta Velocity
#   http://jakarta.apache.org/velocity/
#   must be >= 1.4-dev
velocity.jar=lib/velocity-dep-1.4-dev.jar

# Jakarta Velocity DVSL
#  http://jakarta.apache.org/velocity/dvsl/
dvsl.jar=lib/velocity-dvsl-0.43.jar

# dom4j
#  http://www.dom4j.org/
dom4j.jar = lib/dom4j.jar
