<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>JEXL</string>
    <key>uuid</key>
    <string>7A2E4F6C-8D3B-4E9A-B5C1-2F0E8D7A3B6C</string>
</dict>
</plist>
