<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>
    
    <logger name="org.apache.commons.jexl3" additivity="false">
        <level value="error"/>
        <appender-ref ref="Console"/>
    </logger>

    <root>
        <priority value="error"></priority>
        <appender-ref ref="Console"/>
    </root>
</log4j:configuration>